@use "src/styles/globals";

.card {
    background-color: white;
    padding: 4rem;
    border-radius: 4rem;
    box-shadow: 0 1rem 5rem 0 #00000014;

    &__card-title {
        color: globals.$black;
        font-size: 5rem;
        line-height: 23.44px;
        margin: 0 0 4rem 0;
    }
}