$violet: #512689;
$gray_light: #F8F8F8;

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
    font-size: 4rem;
    background-color: $violet;
    border: none;
    border-radius: 2rem;
    padding: 3rem 4rem;

    &_outlined {
        border: 1px, solid, $gray_light;
        padding: 2rem 4rem;
        background-color: transparent;
        height: fit-content;
    }
}