@use "src/styles/globals";

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
    font-size: 4rem;
    background-color: globals.$violet;
    border: none;
    border-radius: 2rem;
    padding: 3rem 4rem;
    cursor: pointer;

    &_outlined {
        border: 1px, solid, globals.$gray_light;
        padding: 2rem 4rem;
        background-color: transparent;
        height: fit-content;
    }
}