@use "src/styles/globals";

.home {
    &__header {
        justify-content: center;
    }

    &__title-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        height: 100%;
        align-items: center;
        flex-grow: 1;
    }

    &__h1 {
        text-align: center;
    }

    &__h2 {
        max-width: 846px;
        text-align: center;
    }

    &__more-button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 14rem;
        color: globals.$black;
        border-color: globals.$black;
    }

    @media (max-width: 1000px) {
        &__title-wrapper {
            margin: 0 0 16rem 0;
        }

    }

    @media (max-width:600px) {
        &__h1 {
            font-size: 9rem;
            line-height: 42.19px;
        }

        &__h2 {
            font-size: 4rem;
            line-height: 18.75px;
        }
    }

}