.user-info {
    opacity: 0;
    transition: opacity 0.5s ease-in;

    &_visible {
        opacity: 1;
    }

    &__main-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8rem;
        margin-left: 88px;
    }

    &__title-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4rem;

    }

    &__description {
        color: black;
        width: 630px;
    }

    &__description-wrapper {
        margin: 49px 188px;
        display: flex;
        max-width: 950px;
        gap: 8rem;
    }

    &__phone,
    &__email {
        color: black;
        text-wrap: nowrap;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }

    &__phone-number-wrapper {
        display: flex;
        height: min-content;
        gap: 2rem
    }

    &__email-wrapper {
        display: flex;
        height: min-content;
        gap: 2rem;
    }

    &__email-icon,
    &__phone-icon {
        width: 6rem;

    }

    &__avatar-upload {
        margin-left: 88px;
        margin-top: 2rem;
    }

    &__position {
        font-size: 9rem;
        line-height: 37.5px;
    }

    @media (max-width: 1200px) {
        &__description-wrapper {
            margin: 8rem auto;
        }
    }

    @media (max-width: 1000px) {
        &__description-wrapper {
            gap: 8rem;
            flex-direction: column-reverse;
            margin: 8rem 4rem;
        }

        &__description {
            width: auto;
        }

        &__main-info {
            flex-direction: column-reverse;
            flex-grow: 1;
            margin-left: 0;
            margin-bottom: 16rem;
        }

        &__name {
            text-align: center;
        }

        &__position {
            text-align: center;
        }

    }

    @media (max-width:600px) {
        &__name {
            font-size: 9rem;
            line-height: 42.19px;
        }

        &__position {
            font-size: 5rem;
            line-height: 23.44px;
        }
    }

}