$black: #151317;

.form {
    max-width: 500px;

    box-sizing: border-box;

    &__main-content {
        display: flex;
        flex-direction: column;
        // margin-bottom: 2.5rem;
        gap: 4rem;
        margin-bottom: 6rem;
    }

    &__item {}

    &__item-title {
        font-size: 4rem;
        width: 100%;
        line-height: 21.79px;
        margin-bottom: 2rem;
        color: $black;
    }


    &__button {
        width: 100%;
    }
}