@use "src/styles/globals";

.header {
    background-color: globals.$violet;
    display: flex;
    flex-direction: column;
    height: 265px;
    padding: 8rem 20rem 0rem 20rem;
    position: relative;


    &__button-wrapper {
        display: flex;
        justify-content: space-between;
    }


    &__button-back {
        display: none;


        &_show {
            display: flex;
        }
    }

    &__button-exit {
        margin-left: auto;
    }

    &__button-exit-icon {
        display: none;
        margin-left: auto;
        cursor: pointer;
    }

    &__button-back-icon {
        display: none;
        cursor: pointer;
    }

    @media(max-width: 1000px) {
        padding: 3rem 4rem 0px 4rem;
        height: auto;
        gap: 1.5rem;


        &__button-exit,
        &__button-back {
            display: none;
        }


        &__button-exit-icon {
            display: inline-block;
        }

        &__button-back-icon {
            display: none;

            &_show {
                display: inline-block;
            }
        }
    }
}