@use "src/styles/globals";

.userCard {
    width: 305px;
    box-sizing: border-box;
    padding: 9rem 5rem 5rem 5rem;
    box-shadow: 0px 1px 3.98px 0px #33333326;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    border-radius: 2.5rem;
    cursor: pointer;

    &:hover {
        outline: 1px solid globals.$black;
    }

    &__name {
        color: globals.$black;
    }

    &__like-button {
        margin-left: auto;
    }
}